body{
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #99016B;
    margin: 0;
}
nav ul {
    padding: 0;
    margin: 0;
    height: 100px;
    padding-left: 6%;
    padding-top: 1%;
}
a{
    margin: 0;
    padding: 0;
}
div{
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.vehicleDiv{
    margin: 2%;
    margin-bottom: 0;
    border: black;
    border-style: solid;
    border-width: 1%;
    width: 47%;
    float: left;
    box-sizing:border-box;
}
.vehicleDiv img{
    float: left;
    margin: 40px 5px 5px 5px;
}
.logo{
  width: 100px;
  height: 100px;
  padding-left: 10px;
  position: absolute;
}
 
.dropdowncont{
    display: none;
    background-color: #99016B;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    top: 90px;
}
.dropdowncont a{
    color: white;
    padding: 12px,16px;
    text-decoration: none;
    display: block;
    font-size: 2em;
}
.dropdowncont a:hover{background-color:#5a003f}
.dropdownhover:hover .dropdowncont { display: block;}
.drop:hover + .dropdown{background-color: #99016B;}



.drop{
position: relative; 
    padding: 20px;
    right: 10px;
    font-size: 300%;
    text-decoration: none;
    color: white;
}
.mag{
   padding: 10px;
   width: 70px;
   height: 70px;
  
   position: absolute;
   right: 0in;
   top:12px;
}
form{
   float: right;
   margin: none

}
.search{
   position: absolute;
   height: 98px;
   border-radius: 10px;
   border: none;
   outline: none;
   font-size: 2.5em;
   color: white;
   background-color: #99016B;
   width: 660px;
   top: 0px;
   padding: 1px;
}
.park{
    width: 100%;
    height: 500px;
}
.line{
    display: inline;
}
hr{
    display: none;
}
@media only screen and (max-width: 420px) {
    nav ul li{
        width: 100%;
        position: relative;
        margin: 0 0 0 4%;
        padding: 0;
        display: block;
     }
     nav ul{
        margin: 0;
        padding: 0;
     }
    nav{
        height: 320px;
        overflow: hidden;
     } 
    .search{
        width: 70%;
        float: left;
        position: absolute;
        display: inline;
        right: 30%;
        margin-top: 5%;
        height: 50px;
     }
     .mag{
        position: relative;
        float: right;
        width: 50px;
        height: 50px;
     }
     .line{
        display: none;
     }
     hr{
        display: block;
     }
     .logo{
        width: 70px;
        height: 70px;
       right: 5px;
     }

     .dropdowncont:click{
        position: relative;
        top: 0px;
        width: 100%;
        display: inline;
        font-size: 10px;
     }
}


